version: '3.8'

services:
  ######################################
  # Prometheus
  ######################################
  prometheus:
    image: prom/prometheus:latest
    container_name: local-prometheus
    ports:
      - "9092:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    restart: unless-stopped
    networks:
      - local-network

  ######################################
  # Grafana
  ######################################
  grafana:
    image: grafana/grafana:latest
    container_name: local-grafana
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    depends_on:
      - prometheus
    restart: unless-stopped
    networks:
      - local-network

volumes:
  prometheus-data:
  grafana-data:


networks:
  local-network:
    external: true
    name: nxscraper_net
